.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem auto 10rem auto;

  &__container {
    max-width: 132rem;
    margin-top: 150px;
  }
}

@media screen and (max-width: 767px) {
  .app {
    padding: 4rem 2rem;
  }
}