.movie {
  position: relative;
  width: 30rem;
  height: 45rem;
  margin: 1.5rem;
  border-radius: 1.2rem;
  overflow: hidden;
  border: none;
  opacity: 1;
  transition: all 2s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0 1.3rem 1rem -.7rem rgba(0, 0, 0, 0.1);
  cursor: pointer;

  &:hover {
    box-shadow: 0 3rem 1.8rem -.8rem rgba(0, 0, 0, 0.1);
    transform: scale(1.05, 1.05);
  }

  &:hover &__image {
    height: 100%;
    opacity: 0.3;
    transition: opacity .3s ease;
  }

  &:hover &__year {
    opacity: 1;
  }

  &__title {
    font-size: 2rem;
    margin: .5rem 0 1.5rem 0;
    font-family: var(--font-play);
    color: #f9d3b4;
  }

  &__card-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 3rem;
  }

  &__year {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 2rem;
    font-size: 1.6rem;
    opacity: 0;
    color: #f9d3b4;
  }

  &__image {
    width: 100%;
    height: 100%;
    transition: opacity 3s cubic-bezier(0.175, 0.885, 0, 1);

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 1rem 2rem 1rem 2rem;
    background-color: #343739;
    z-index: 2;
  }

  span {
    font-family: var(--font-play);
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: .2rem;
    font-weight: 500;
    color: #b7b7b7;
  }
}

@media screen and (max-width: 767px) {
  .movie {
    margin: 2rem 1.2rem 2rem 1.2rem;
  }
}