.app {
  &__title {
    width: fit-content;
    font-size: 3rem;
    font-family: var(--font-unbounded);
    letter-spacing: .9rem;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
  }

  &__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }
}

@media screen and (max-width: 767px) {
  .app {
    &__header {
      flex-direction: column;
    }
  }
}